body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin: 0;
}

.home-container {
    width: 100%;
    max-width: 580px;
    background-color: #cecece;
    margin: 40px auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    overflow-y: auto; /* Permite rolar o conteúdo dentro do container */
    max-height: 87vh; /* Limita a altura máxima do container */
    flex: 1; /* Faz o container ocupar o espaço disponível */
}

.profile-pic-container {
    margin-bottom: 20px;
}

#profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(65, 156, 72);
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.input-container label {
    margin-bottom: 5px;
    text-align: left;
}

/*
.campo {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid rgb(65, 156, 72);
    color: #0c0b00;
    transition: all linear 190ms;
    font-size: 0.9em;
    margin-bottom: 5px;
    outline: none;
}
 */

.input-container input, .input-container textarea {
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid rgb(65, 156, 72);
    outline-color: #0c0b00;
    padding: 5px;
    transition: all linear 190ms;
}

.input-container input:focus, .input-container textarea:focus {
    border-color: black; 
    outline: none; 
}

.input-container textarea {
    height: 100px;
    resize: none;
}

button {
    padding: 15px;
    color: #0c0b00;
    font-weight: 600;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(65, 156, 72);
    cursor: pointer;
    transition: all linear 190ms;
}

a {
    margin-top: 10px;
    display: block;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.custom-btn {
    background-color: rgb(65, 156, 72); 
    border-color: #0c0b00; 
}

.custom-btn:hover {
    transform: scale(1.04);
    background-color: rgb(27, 117, 36);
    color: white;
}

.custom-btn-voltar-login {
    color: #2C8540;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #2C8540;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

